# Dependency directories
node_modules/
.pnp/
.pnp.js

# Angular build and output
dist/
out-tsc/
coverage/
.angular/

# Compiled output
**/src/**/*.js
**/src/**/*.js.map
**/src/**/*.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
